<div class="titleDiv" *ngIf="connectionID==-1" >
  <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon> {{ "connectionEntity.connection" | translate }}-{{"connectionEntity.new" | translate}}</h4>
  <span class="divider"></span>
</div>
<div class="titleDiv" *ngIf="connectionID!=-1" >
  <h4><mat-icon aria-hidden="false"  svgIcon="menu_connexio"></mat-icon>{{ "connectionEntity.connection" | translate }}-{{"connectionEntity.edit" | translate}}</h4>
  <span class="divider"></span>
</div>
<div class="formDiv">
  <div class="formHeader">
    <h5> Dades generals  </h5>
    <button   mat-flat-button class="saveButton"  >
      <mat-icon fontSet="material-icons-round"  > save </mat-icon>
      {{ "connectionEntity.save" | translate }}
    </button>
  </div>
  <span class="divider"></span>
  <form [formGroup]='formConnection' #f="ngForm"> 

      <div class="rowFormDiv">
          <div class="colFormDiv">
            <label class="formLabel">
              {{'connectionEntity.name' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="name">
            </mat-form-field>
          </div>

          <div class="colFormDiv" >
            <label class="formLabel">
              {{'connectionEntity.driver' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="driver">
            </mat-form-field>
          </div>

          <div class="colFormDiv">
              <label class="formLabel">
                {{'connectionEntity.user' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="user">
              </mat-form-field>
            </div>

            <div class="colFormDiv" id="right-column">
              <label class="formLabel">
                {{'connectionEntity.password' | translate}}
              </label>
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="password">
              </mat-form-field>
            </div>
      </div>

      <div class="rowFormDiv">
      
          <div class="colFormDiv" >
            <label class="formLabel">
              {{'connectionEntity.connection' | translate}}
            </label>
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="url">
            </mat-form-field>
          </div>

          <button *ngIf="connectionID==-1" (click)="addNewConnection()" mat-flat-button class="validateButton" >{{ "connectionEntity.validate" | translate }}</button>
          <button *ngIf="connectionID!=-1" (click)="updateConnection()" mat-flat-button class="validateButton" >{{ "connectionEntity.update" | translate }}</button>
    </div>


  </form>

</div>
