.rowFormDiv{
    width: 100%;
  }
  .colFormDiv{
    display: inline-block;
    width: 47.5%;
    margin-right: 5%;
  }
  .threeColDialogFormDiv{
    display: inline-block;
    width: 30%;
    margin-right: 5%;
  }


  mat-form-field {
    width: 100%;
}
#right-column {
  margin-right: 0%!important;
}

.cartographyButtonModificate {
  background-color: #ff9300;
  color: white;
  width: 120px;
  height: 40px;
  justify-self: right !important;
}

.cartographyButtonDelete {
  background-color: #ff9300;
  color: white;
  width: 170px;
  height: 40px;
  justify-self: right !important;
}
 
.matRadioFormDiv{
  display: inline-block;
  width: 100%;
  margin-right: 5%;

}

.radioButtonForm{
  margin-right: 23.5%
}