<div class="titleDiv">
    <h4><mat-icon aria-hidden="false"  svgIcon="menu_tasques"></mat-icon> {{ "tasksEntity.tasks" | translate }}</h4>
    <span class="divider"></span>
</div>

<div *ngIf="dataLoaded" class="formDiv">
    <form [formGroup]='taskForm' #f="ngForm" (ngSubmit)="onSaveButtonClicked()">

    <div class="formHeader">
        
        <h5> {{properties.form.label | translate}} </h5>
        <button mat-flat-button type="submit"  class="saveButton" >
        <mat-icon fontSet="material-icons-round"> save </mat-icon>
        {{ "save" | translate }}
        </button>
        <button type="button" (click)="utils.navigateBack()"  mat-flat-button class="returnButton"  >
        <mat-icon fontSet="material-icons-round"> arrow_back </mat-icon>
        {{ "return" | translate }}
        </button>
    </div>
    <span class="divider"></span>

    <div *ngFor="let element of formElements; let i = index" >

         <div *ngIf="!element.values.hidden" [ngSwitch]="element.values.control" >  
             
            <div *ngSwitchCase="'input'" >
                <div class="colFormDiv">

                        <label *ngIf="!element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                            {{element.values.label | translate}}
                        </label>

                        <label *ngIf="element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                            {{getFieldWithCondition(element.values.condition, element.values.label, 'text') }}
                        </label>
                                
                    <mat-form-field appearance="outline">
                        <input matInput type="text" [formControlName]=element.fieldName required>
                    </mat-form-field>

                </div>
            </div>

            <div *ngSwitchCase="'selector'" >
                <div class="colFormDiv">

                    <label *ngIf="!element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                        {{element.values.label | translate}}
                    </label>

                    <label *ngIf="element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                        {{getFieldWithCondition(element.values.condition, element.values.label, 'text') }}
                    </label>

                    <mat-form-field appearance="outline">
                        <mat-select matInput [formControlName]=element.fieldName class="form-control">
                            <mat-option [value]="dataElement[element.values.selector.value]" *ngFor="let dataElement of getDataSelector(element.values.selector.data)">
                            {{ dataElement[element.values.selector.name]}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>

                </div>
            </div>

            <div *ngSwitchCase="'checkbox'" >
                <div class="colFormDiv">

                <label *ngIf="!element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                    {{element.values.label | translate}}
                </label>

                <label *ngIf="element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                    {{getFieldWithCondition(element.values.condition, element.values.label, 'text') }}
                </label>

                    <mat-checkbox  [formControlName]=element.fieldName> </mat-checkbox>

                </div>
            </div>

            <div *ngSwitchCase="'enum'" >
                <div class="colFormDiv">


                <label *ngIf="!element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                    {{element.values.label | translate}}
                </label>

                <label *ngIf="element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                    {{getFieldWithCondition(element.values.condition, element.values.label, 'text') }}
                </label>

                <mat-radio-group aria-label="Select an option" [formControlName]=element.fieldName>

                    <mat-radio-button *ngFor="let enumElement of element.values.enum.elements;"  class="radioButtonForm"  [value]=enumElement.value> {{ enumElement.label | translate}}</mat-radio-button>

                </mat-radio-group>

                </div>
            </div>

            <div *ngSwitchCase="'selectorPopup'" >
                <div class="colFormDiv marginLeftBtn">


                <label *ngIf="!element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                    {{element.values.label | translate}}
                </label>

                <label *ngIf="element.values.condition" [ngClass]="element.values.required?'formLabel requiredInput':'formLabel'" >
                    {{getFieldWithCondition(element.values.condition, element.values.label, 'text') }}
                </label>

                <mat-form-field appearance="outline">
                    <input matInput *ngIf="this.taskForm.value[element.fieldName]"   [readonly]="true" type="text"  [value]="this.taskForm.value[element.fieldName][element.values.selectorPopup.value]" >
                    <input matInput *ngIf="!this.taskForm.value[element.fieldName]" [formControlName]=element.fieldName [readonly]="true" type="text">
                </mat-form-field>
                </div>

                <div class="HalfMidLargeColFormDiv marginLeftBtn">
                    <label class="formLabel">
                      &nbsp;
                    </label>
                    <button type="button" *ngIf="dataLoaded && !this.taskForm.value[element.fieldName]" title="{{ 'add' | translate }}" mat-mini-fab
                      class="mat-green mini-fab " (click)="openPopupDialog(element.fieldName, element.values.selectorPopup.data, element.values.selectorPopup.columns, element.values.label, true, false, true, -1)">
                      <mat-icon> add </mat-icon>
                    </button>
                    <button type="button" *ngIf="dataLoaded && this.taskForm.value[element.fieldName]" title="{{ 'tasksEntity.modificate' | translate }}"
                      mat-mini-fab class="mat-orange mini-fab" (click)="openPopupDialog(element.fieldName, element.values.selectorPopup.data, element.values.selectorPopup.columns, element.values.label, true, false, true, -1)">
                      <mat-icon> create </mat-icon>
                    </button>
                    <button type="button" *ngIf="dataLoaded && this.taskForm.value[element.fieldName]"
                      title="{{ 'tasksEntity.deleteCartography' | translate }}" mat-mini-fab class="mat-red mini-fab"
                      (click)="onPopupDeleteButtonClicked(element.fieldName)">
                      <mat-icon> delete </mat-icon>
                    </button>
                  </div>
            </div>



            


         </div>


    </div>


    </form>

</div>



<div class="tableDiv" *ngIf="dataLoaded">

    <mat-accordion *ngFor="let table of properties.tables; let i = index" multi>


            <mat-expansion-panel  [expanded]="true" class="agGridExpansionPanel">

                <mat-expansion-panel-header class="agGridExpansionPanelTitle">
                    <mat-panel-title>
                      {{ table.label | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <div class="appDataGridEditDiv">
                        <app-data-grid [changeHeightButton]="true" [columnDefs]='generateColumnDefs(table.columns, false, true)' [themeGrid]='themeGrid' [getAll]='getAlls[i]'
                        [discardChangesButton]=true [actionButton]=true [redoButton]=true [undoButton]=true [deleteButton]=true [newButton]="table.controlAdd.control==='formPopup'" [addButton]="table.controlAdd.control!=='formPopup'"
                        [eventAddItemsSubscription]='addelements[i].asObservable()' (add)="openPopupDialog(null, table.controlAdd.data, table.controlAdd.columns, table.label, true, false, i)"> 
                        </app-data-grid>
                    </div>
                  </ng-template>

            </mat-expansion-panel>




    
    </mat-accordion>


</div>